---
layout: default
title: 归档
---

<div class="container module-archive">
  <section>
    {%for post in site.posts %}
      {% unless post.next %}
        {% include archive-month.html %}
        <ul class="list-unstyled">
      {% else %}
        {% capture month %}{{ post.date | date: '%m' }}{% endcapture %}
        {% capture nmonth %}{{ post.next.date | date: '%m' }}{% endcapture %}
        {% if month != nmonth %}
          </ul>
          {% include archive-month.html %}
          <ul class="list-unstyled">
        {% endif %}
      {% endunless %}
      <li>
        <time>{{ post.date | date: '%Y-%m-%d %a' }} </time>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
    </ul>
  </section>
</div>
