---
layout: default
title: 归档
---

<div class="container module-archive">
  <section>
    {%for post in site.posts %}
      {% unless post.next %}
        <h4>{{post.date | date: '%Y年%-m月'}}</h4>
        <ul class="list-unstyled">
        {% else %}
          {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
          {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
          {% if year != nyear %}
          </ul>
          <h4>{{ post.date | date: '%Y年%-m月' }}</h4>
          <ul class="list-unstyled">
          {% endif %}
        {% endunless %}
        {% capture day %}{% assign dy = post.date | date: "%a" %}{% case dy %}{% when "Mon" %}一{% when "Tue" %}二{% when "Wed" %}三{% when "Thu" %}四{% when "Fri" %}五{% when "Sat" %}六{% when "Sun" %}日{% endcase %}{% endcapture %}
                      <li>
                        <time>{{ post.date | date:"%m月%d日" }} 星期{{day}} </time>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                      </li>
                    {% endfor %}
          </ul>
  </section>
</div>
