---
layout: default
title: 所有文章
---

<div class="container-fluid module-archive">
  <section>
    {%for post in site.posts %}
      {% unless post.next %}
        {% include archive-month.html %}
        <ul class="list-unstyled">
      {% else %}
        {% capture month %}{{ post.date | date: '%m' }}{% endcapture %}
        {% capture nmonth %}{{ post.next.date | date: '%m' }}{% endcapture %}
        {% if month != nmonth %}
          </ul>
          {% include archive-month.html %}
          <ul class="list-unstyled">
        {% endif %}
      {% endunless %}
      <li>
        <time>{{ post.date | date: '%Y-%m-%d %a.' }} </time>
        <div>
          <a class="title" href="{{ post.url }}">{{ post.title }}</a>
          {% for tag in post.tags %}
            <a class="tag" href="/tags.html#{{tag}}">{{tag}}</a>
          {% endfor %}
        </div>
      </li>
    {% endfor %}
    </ul>
  </section>
</div>
