---
layout: archive 
nav-date: true
---

{% for post in site.posts %}

{% unless post.next %}
<div id="date-{{ post.date | date: "%Y-%m"}}" class="paper archive-block">
    <h3>{{ post.date | date: '%Y %m' }}</h3>
    <table class="table table-striped">
{% else %}

{% capture year %}{{ post.date | date: '%Y%m' }}{% endcapture %}
{% capture nyear %}{{ post.next.date | date: '%Y%m' }}{% endcapture %}

{% if year != nyear %}
    </table>
</div>

<div id="date-{{ post.date | date: "%Y-%m"}}" class="paper archive-block">
    <h3>{{ post.date | date: '%Y %m' }}</h3>
    <table class="table table-striped">
{% endif %}

{% endunless %}


{% include post_tr.html %}

{% endfor %}

    </table>
</div>

