---
layout: archive 
nav-tag: true
---

<!--style-->
<style>
    body{
        background-color: #cc3;
    }
</style>
<!--style-->


<!--content-->
{% for tag in site.tags %}

<div id="tag-{{ tag[0] }}" class="paper-curl archive-block">
    <h3>{{tag[0] | capitalize }}</h3>
    <table class="table table-striped">

    {% for post in tag[1] %}
        {% for post in tag[1] %}
            {% include post_tr.html %}
        {% endfor %}
    {% endfor %}

    </table>
</div>

{% endfor %}

<!--content-->
