---
layout: default
title: Git 工作流
description: 介绍 Git 的基本操作和常见问题，探讨不同的 Git 分支模型，为管理大型项目提供健壮的框架。
---

<div class="module-collection">
  <div class="jumbotron">
    <div class="container-fluid overlay">
      <h1>{{page.title}}</h1>
      <p>{{page.description}}</p>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
    {%for post in site.git-workflow %}
      <article class="col-sm-6">
        <h3>
          <a class="title" href="{{ post.url }}">{{ post.title }}</a>
        </h3>
        <p class="tag-list">
          {% for tag in post.tags %}
          <a class="tag" href="/tags.html#{{tag}}">{{tag}}</a>
          {% endfor %}
        </p>
        <div class="md">{{ post.excerpt }}</div>
      </article>
    {% endfor %}
    </div>
  </div>
</div>
