---
layout: blogs
title: Harttleland
subtitle: Keep It Simple, Stupid.
---

<!-- style -->
<link rel="stylesheet" href="/assets/css/markdown.css">
<link rel="stylesheet" href="/assets/css/syntax.css">
<style>
    .post{
        margin-bottom: 50px;
        padding: 40px;
    }
    .post h1.header{
        font-weight: normal;
        font-size: 36px;
    }
    .post a{ text-decoration: none; }
    .post .md{ margin: 20px 15px 30px 15px; }
    .post .more{ margin-top:-10px; }

</style>
<!-- style -->

<!-- content -->
    {% for post in paginator.posts %}

    <div class="post paper">
        <h1 class="header">
            <a class="feature-link" href="{{post.url}}">{{ post.title }}</a>
            <div class="pull-right">
                {% include widget-date.html post=post %}
            </div>
        </h1>
        <p>
            {% include widget-categories.html post=post %}
            {% include widget-tags.html post=post %}
        </p>

        {% if post.content contains '<!--more-->' %}
        <div class="md">{{ post.content | split:'<!--more-->' | first }}</div>
        <a class="more pull-right button button-rounded button-flat-blue" href="{{ post.url }}">Continue reading <span class="glyphicon glyphicon-chevron-right"></span></a>

        {% elsif post.layout == 'album' %}
        <div class="md">{{ post.content }}</div>
        <a class="more pull-right button button-rounded button-flat-blue" href="{{ post.url }}">Continue reading <span class="glyphicon glyphicon-chevron-right"></span></a>

        {% else %}
        <div class="md">{{ post.content }}</div>
        {% endif %}
    </div>
    {% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.next_page %}
    <li class="previous"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Older</a></li>
    {% else %}
    <li class="previous disabled"><a>&larr; Older</a></li>
    {% endif %}

    {% if paginator.previous_page %}
    <li class="next"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer &rarr;</a></li>
    {% else %}
    <li class="next disabled"><a>Newer &rarr;</a></li>
    {% endif %}
</ul>
{% endif %}
<!-- content -->

<!-- script -->
{% include latex.html %}
<!-- script -->
