---
layout: default
title: 标签
---

<div class="module-tags container-fluid">
  <style id="dynamicStyle"></style>
  <section class="tags">
    {% for tag in site.tags %}<a class="tag" href="#{{tag|first}}">{{ tag | first }} ({{ tag | last | size }})</a>{% endfor %}
  </section>
  <section class="posts">
    <ul class="list-unstyled">
      {% for post in site.posts %}
      <li data-tags={{post.tags | join: ','}}>
        <a href="{{post.url}}">{{ post.title }}</a>
        <time>{{ post.date | date: '%Y-%m-%d %a.' }} </time>
      </li>{% endfor %}
    </ul>
  </section>
  <script>
window.addEventListener('hashchange', filterByHash);
filterByHash();

function filterByHash() {
  var match = location.hash.substr(1);
  if (!match) return;
  var tag = decodeURIComponent(match);
  Array.prototype.forEach.call(document.querySelectorAll('.posts li'), function(post) {
    var selected = post.dataset.tags.split(',').some(function (tagname) {
      return tag === null || tagname === tag;
    });
    selected ? post.classList.remove('hidden') : post.classList.add('hidden');
  });
}
  </script>
</div>
