---
layout: default
title: album
nav: album
subtitle: Those were the days.
---

<style>
    .panel-body{
        min-height: 150px;
    }
</style>

<div class="row">
{% for post in site.posts %}  
{% if post.layout == 'album' %}
    {% assign count = post.content | size %}
    <div class="col-sm-6 col-xs-12">
        <div class="paper  panel panel-{% include randcolor.html num=count %}">
            <div class="panel-heading">
                <h3 class="panel-title" title="{{post.subtitle}}">
                    <i class="{{ page.post-icon }}"></i> 
                    {{ post.title }}
                    <div class="pull-right">
                        {% include date.html post=post %}
                    </div>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row"> 
                    <div class="col-xs-12 col-sm-3">
                        <a href="{{post.url}}" class="thumbnail" style="margin-bottom: 5px;">
                            <img  class="lazy img-responsive" data-original="{{ post.file-pre }}thumb/{{ post.thumb }}"
                            src="/assets/img/loading.gif" alt="{{ post.thumb }}">
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-8" >
                        <h4>{% if post.subtitle %}{{post.subtitle}}{% else %}{{post.title}}{% endif %}</h4>
                        <p>{{post.content}}</p>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                {% include categories.html post=post %}
                {% include tags.html post=post %}
                <a class="pull-right button button-rounded button-flat-blue" href="{{post.url}}">Full Post
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <div class="clearfix"></div>                                                         
            </div>
        </div>
    </div>
{% endif %}
{% endfor %}
</div>
