---
layout: archive
nav-date: true
---

<style>
  body {
    background-color: #903;
  }
</style>

{% assign lyear = 0 %}

{% for post in site.posts %}
{% if post.layout == 'blog' %}
    {% capture year %}{{ post.date | date: '%Y%m' }}{% endcapture %}

    {% if year != lyear %}
        {% if lyear != 0 %}
                </table>
            </div>
        {% endif %}
            <div id="date-{{ post.date | date: "%Y-%m"}}" class="paper archive-block">
                <h3>{{ post.date | date: '%Y %m' }}</h3>
                <table class="table table-striped">
    {% endif %}

    {% capture lyear %}{{ post.date | date: '%Y%m' }}{% endcapture %}
    {% include tr-post.html %}
{% endif %}
{% endfor %}

    </table>
</div>

