<div class="follow">
  <a href="https://www.facebook.com/harttle" target="_blank"> <i class="fa fa-facebook-square fa-lg"></i>
  </a>
  <a href="http://www.linkedin.com/profile/view?id=294339963" target="_blank"> <i
      class="fa fa-linkedin-square fa-lg"></i> </a>
  <a href="https://plus.google.com/113657098095399233141?rel=author" target="_blank"> <i
      class="fa fa-google-plus-square fa-lg"></i> </a>
  <a href="//github.com/harttle/harttle.github.io" target="_blank"> <i class="fa fa-github fa-lg"></i>
  </a>
  <a href="/feed.xml" target="_blank"> <i class="fa fa-rss-square fa-lg"></i> </a>
</div>


