<style>
.jumbotron{
  color: white;
  position: relative;
}
.jumbotron h1{
  font-size: 2.5em;
  text-shadow: 0px 2px 5px black;
  text-align: center;
}
.jumbotron .universe-link {
  position: absolute;
  display: none;
  top: 10px;
  right: 10px;
}
.jumbotron:hover .universe-link {
  display: inline-block;
}
canvas#universe {
  background: #000;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
</style>
<script>{%include universe.min.js %}</script>
<script>
var canvas = document.querySelector('canvas#universe');
var jumbotron = document.querySelector('.jumbotron');
var univ = universe(canvas, jumbotron);
univ.start();
jumbotron.addEventListener('click', univ.createStarHere);
</script>