<div class="row"> 
    <div class="col-xs-12 col-sm-4">
      <a href="{{post.url}}" class="thumbnail" style="margin-bottom: 5px;">
        <img  class="lazy img-responsive" data-original="{{ post.file-pre }}thumb/{{ post.thumb }}"
              src="/assets/img/loading.gif" alt="{{ post.thumb }}">
      </a>
    </div>
    <div class="col-xs-12 col-sm-8" >
      <h4>{% if post.subtitle %}{{post.subtitle}}{% else %}{{post.title}}{% endif %}</h4>
      <p>{{post.content}}</p>
    </div>
</div>     