@import 'mixins';
@import 'variables';

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html {
    background: #333;
}
body {
    background: white;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

.pull-right {
  float: right;
}
.hidden {
  display: none;
}

a {
  color: $blue;
  text-decoration: none;
}
a:hover, a:active, a:focus{
  color: $blue;
  text-decoration: underline;
}

.btn-hover{
  @include link-hover($blue, white);
  padding: 0.3em 1em;
  font-size: 14px;
}
.btn-hover:hover{
  background: $blue;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
.clearfix:after {
  content: ' ';
  display: table;
  clear: both;
}
@media(min-width:768px){
  .container {
    padding: 0 30px;
  }
}

.list-unstyled{
  padding-left: 0px;
  list-style: none;
}

.text-center{
  text-align: center;
}

.tag{
  color: $green;
  padding: 0.1em 0.6em;
  font-size: 0.9em; 
  line-height: 1.4em;
  border: 1px solid $green;
  display: inline-block;
  @include transition(color 0.3s);
}
.tag:hover, .tag:focus, .tag:active{
  color: white;
  background: $green;
  text-decoration: none;
}
.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
