@import 'mixins';
@import 'variables';

body {
  position: relative; /* for scroll spy with absolute position */
  color: rgb(96, 96, 96);
  font-size: 13px;
  font-family: Georgia, serif;
}

h1, h2, h3, h4, h5, h6, nav li, .nav li{
  @include sans;
}

a{
  color: lighten($red, 10%);
}
a:hover, a:active, a:focus{
  color: $red;
}

a.glow{
  color: #555;
  transition: color 0.15s ease-in;
  text-decoration: none;
}
a.glow:hover{
  color: $red;
}

.MathJax * {
  color: black !important;
}

.ias-noneleft{
  margin-bottom: 50px;
}

@media(min-width:768px){
  .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
  }
}
