@import 'variables';
@import 'mixins';

.tag{
  color: $green;
  line-height: 1;
  margin: 0 0.2em 0.2em;
  padding: 0.3em 0.6em;
  font-size: 12px; 
  background: white;
  border: 1px solid $green;
  display: inline-block;
  @include transition(color 0.3s);
}
.tag:hover, .tag:focus, .tag:active{
  color: white;
  background: $green;
  text-decoration: none;
}
