@import 'mixins';
@import 'variables';

.jumbotron {
  color: white;
  background: #283c86;
  background: -webkit-linear-gradient(to right, #45a247, #283c86);
  background: linear-gradient(to left, #45a247, #283c86);
}
.jumbotron .title {
  padding: 160px 0 144px;
  margin: 0;
  font-size: 2.5em;
  text-shadow: 4px 1px 4px #333;
  text-align: center;
}
