@import 'mixins';
@import 'variables';

.jumbotron {
  color: white;
  background: #283c86;
  background: -webkit-linear-gradient(to right, #45a247, #283c86);
  background: linear-gradient(to right, #45a247, #283c86);
}
.jumbotron h1{
  padding: 170px 0 150px;
  margin: 0;
  font-size: 2.5em;
  text-shadow: 3px 1px 5px #333;
  text-align: center;
}
