.md {
  line-height: 1.8em;
  overflow-wrap: break-word;
  a, code, strong, em {
    word-wrap: break-word;
  }
}

.md > *:first-child {
  margin-top: 0;
}

.md > * {
  overflow-x: auto;
  overflow-y: hidden;
  word-break: break-all;
}

.md p {
  margin: 0 0 10px;
}

.md h1, .md h2 {
  margin: 50px 0 35px;
  padding-bottom: 2px;
  font-size: 24px;
  border-bottom: 1px solid var(--separator-color);
}

.md h3 {
  margin: 40px 0 25px 0;
  font-size: 22px;
}

.md h4 {
  margin: 20px 0 10px 0;
  padding-bottom: 2px;
  font-size: 16px;
  font-style: italic;
}

.md h5 {
  font-size: 16px;
  line-height: 26px;
  padding: 18px 0 4px;
  font-weight: bold;
  text-transform: uppercase;
}

.md h6 {
  color: #666;
  font-size: 16px;
  line-height: 26px;
  padding: 18px 0 0;
  font-weight: normal;
  font-style: italic;
}

.md ul, .md ol {
  padding-left: 20px;
  margin-bottom: 15px;
}
.md ol ul, .md ul ol, .md ul ul, .md ol ol {
  margin-bottom: 0;
}

.md br + br {
  line-height: 0;
  height: 0;
  display: none;
}

.md blockquote {
  margin: 10px 0;
  border-left: 4px solid #DDD;
  padding: 0 0 0 11px;
  color: #555;
  font-size: 14px;
  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.md pre {
  padding: 20px 25px;
  border: 0;
  overflow-x: auto;
}

.md code, .md pre {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 0.9rem;
  line-height: 1.5em;
}

.md pre code {
  margin-left: 0;
  margin-right: 0;
  word-wrap: normal;
  white-space: pre;
  overflow-wrap: normal;
}

.md *:not(pre) > code {
  border: 1px solid #ddd;
  color: var(--code-color);
  padding: 0 4px;
  background-color: var(--hl-bg-color);
  border-radius: 3px;
  white-space: normal;
}

.md table {
  border-collapse: collapse;
  margin: 16px 0;
  padding: 0;
}

.md table tr th {
  font-weight: normal;
  text-align: center;
}

.md table tr th, .md table tr td {
  border: 1px solid #ddd;
  padding: 1px 16px;
  font-size: 14px;
}

.md table tbody tr:nth-child(2n-1) {
  background-color: var(--hl-bg-color);
}

.md div.mathjax {
  overflow-x: auto;
  overflow-y: hidden;
}

.md img {
  max-width: 100%;
  margin: 0 auto 10px;
  display: block;
}

.md img[src*='@2x'], .md img[alt*='@2x'] {
  zoom: 50%;
}

.md img[src*='@1.5x'], .md img[alt*='@1.5x'] {
  zoom: 66.67%;
}

.md .MathJax {
  padding: 0 0.2em !important;
}

.md.excerpt {
  color: var(--secondary-color);
  p, h1, h2, h3, h4, h5, h6, b, strong, ul, ol, li{
    font-size: 1rem;
    margin: 0;
    color: var(--secondary-color);
    font-weight: normal;
    border-bottom: none;
  }
  blockquote{
    border-left: none;
    padding: 0;
    p, h1, h2, h3, h4, h5, h6, b, strong{
      color: var(--secondary-color);
    }
  }
  @include media-xs{
    img, pre, table{
      display: none;
    }
  }
}
