@import 'variables';

@mixin sans{
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

@mixin serif{
  font-family: Georgia, '宋体', serif;
}

@mixin size($value){ 
  width: $value;
  height: $value;
}
@mixin circle($value){ 
  width: $value;
  height: $value;
  border-radius: $value/2;
}
@mixin inline-size($value){ 
  @include size($value);
  line-height: $value;
  text-align: center;
}
@mixin opacity($value){
  opacity: $value;
  -webkit-opacity: $value;
  -moz-opacity: $value;
  -o-opacity: $value;
  -ms-opacity: $value;
}

@mixin transition($value){
  transition: $value;
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  -ms-transition: $value;
}

@mixin transform($value){
  transform: $value;
  -webkit-transform: $value;
}

@mixin filter-blur($v){
  filter: blur($v);
  -webkit-filter: blur($v);
  -moz-filter: blur($v);
  -o-filter: blur($v);
  -ms-filter: blur($v);
}

@mixin ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin ellipsis-v($height){
  max-height: $height;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

@mixin animation($v...){
  animation: $v; 
  -webkit-animation: $v; 
  -moz-animation: $v; 
  -o-animation: $v; 
  -ms-animation: $v; 
}

@mixin box-shadow($shadows...) {
  box-shadow: $shadows;
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  -ms-box-shadow: $shadows;
  -o-box-shadow: $shadows;
}

@mixin linear-gradient($v...){
  background: linear-gradient($v);
  background: -moz-linear-gradient($v);
  background: -webkit-linear-gradient($v);
  background: -ms-linear-gradient($v);
  background: -o-linear-gradient($v);
}

@mixin link-hover($normal, $hover){
  color: $normal;
  transition: all 0.15s;
  &:hover, &:active{
    color: $hover;
  }
  &:hover, &:active, &:focus{
    text-decoration: none;
  }
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin media-xs{
  @media(max-width: 768px){
    @content;
  }
}

@mixin media-md{
  @media(min-width: 1200px){
    @content;
  }
}

@mixin transform($v...){
  -webkit-transform: $v;
  transform: $v;
}

@mixin transform-origin($v...){
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin random-bg(){
  background-color: #545da9;
  background-image: url(https://unsplash.it/1500/600?random), linear-gradient(to bottom left, rgba(100,255,250,0) 0%, rgba(100,255,250,.5) 75%, rgba(100,255,250,.5) 100%);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  @include media-xs(){
    background-image: linear-gradient(to bottom left, rgba(100,255,250,0) 0%, rgba(100,255,250,.5) 75%, rgba(100,255,250,.5) 100%);
  }
  .overlay{
    background: rgba(0,0,0,0.3);
  }
  h1{
    font-size: 2.5em;
    text-shadow: 0px 2px 5px black;
    text-align: center;
  }
  time{
    color: white;
    text-shadow: 0 0 1px black;
    font-size: 14px;
    font-style: italic;
    margin-top: 10px;
  }
}

@mixin flattened-md(){
  h1, h2, h3, h4, h5, h6{
    margin: 20px 0 10px;
    font-size: 18px;
  }
  p, h1, h2, h3, h4, h5, h6, b, strong, ul, ol, li{
    color: #777;
    font-weight: normal;
    border-bottom: none;
  }
  blockquote{
    border-left: none;
    padding: 0;
    p, h1, h2, h3, h4, h5, h6, b, strong{
      color: #999;
    }
  }
  @include media-xs{
    img, pre, table{
      display: none;
    }
    h1, h2, h3, h4, h5, h6{
      margin: 0;
    }
  }
}
