@import 'mixins';
@import 'variables';
@mixin share-block($color) {
  background: lighten($color, 10%);
  &:hover {
    //background: $color;
    box-shadow: lighten($color, 10%) 0 0 10px 0;
  }
}

li {
  display: inline-block;
  margin-right: 5px;
  a {
    color: #fff;
    display: inline-block;
    border-radius: 20px;
    font-size: 18px;
    @include inline-size(36px);
    transition: transform 0.7s, box-shadow 0.1s;
  }
  a:hover {
    transform: rotate(360deg);
  }
}

.wechat a {
  @include share-block($green);
}

.github a {
  @include share-block($grey);
}

.facebook a {
  @include share-block(#3B5998);
}

.linkedin a {
  // #4875B4
  @include share-block($blue);
}

.feed a{
  // rgb(255, 153, 0))
  @include share-block($red);
}
