@import 'mixins';
@import 'variables';

svg.logo {
  position: relative;
  top: 2px;
  height: 32px;
  .h {
    fill: #5ABA59;
  }
  .rest {
    fill: #b6c0ce;
    font: normal 350px sans-serif;
  }
}

.banner{
  padding: 15px 0 15px;
  position: relative;
  z-index: 1000;
  background: $grey;
  nav a{
    line-height: 38px;
    margin-left: 1rem;
    @include link-hover($light-grey, white);
    @include media-xs{
      margin-left: 0.5rem;
    }
  }
}

.banner.transparent{
  background: rgba(0, 0, 0, 0.3);
  nav a{
    color: #ddd;
  }
  nav a:hover{
    color: white;
  }
  .desc{
    color: #777;
  }
}

.site-content{
  z-index: 10;
}

