@import 'variables';

&{
  margin-top: 70px;
}
header{
  margin-bottom: 20px;
}
.post {
  header > h1{
    font-size: 22px;
    margin-top: 0;
    a{
      color: inherit;
    }
    a:hover, a:active, a:focus{
      color: $red;
      text-decoration: none;
    }
  }
  .more{
    margin: 20px 10px 0;
    font-size: 14px;    
    color: lighten($red, 10%);
  }
  .more:hover{
    color: $red;
  }
}

.post{
  margin-bottom: 110px;
}

@media(max-width: 768px){
  .post .post-meta .tags{
    display: none;
  }
}

.md{
  p, h1, h2, h3, h4, h5, h6, b, strong{
    color: #777;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
  }
}

.module-taglist{
  margin-top: 30px;
}

// layout
aside{
  float: right;
  margin-left: 80px;
  width: 235px;
}
.content{
  margin-right: 235px + 60px;
}

@media(max-width: 768px){
  .content{
    margin-right:0;
  }
}
