$footer-height: 50px;

.avatar-wrapper{
  text-align: center;
  .avatar{
    margin-top: 120px;
    width: 160px;
    border-radius: 80px;
    margin-bottom: 20px;
  }
  .lead{
    color: white;
    font-size: 24px;
    margin-bottom: 100px;
  }
}

.links{
  .container-fluid{
    padding-top: 70px;
    padding-bottom: 70px;
  }
  section{
    $border-color: #555;
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid $border-color;
    border-radius: 3px;
    text-align: center;
    header, ul{
      padding: 10px;
      margin: 0;
    }
    header{
      color: white;
      font-weight: bold;
      font-size: 18px;
      border-bottom: 1px solid $border-color;
    }
    ul{
      $fore-color: #aaa;
      list-style: none;
      min-height: 140px;
      color: $fore-color;
      font-size: 14px;
      a{
        @include link-hover($fore-color, white);
      }
      li{
        height: 24px;
        line-height: 24px;
      }
    }
    @media(max-width: 768px){
      margin-bottom: 30px;
    }
  }
}

& , body, .site-content, .module-about {
  height: 100%;
}
.page-wrapper {
  /* 页面内容撑满100%的屏幕 */
  min-height: 100%;
  /* 负边距大小即为页脚高度 */
  margin-bottom: -$footer-height; 
  position: relative;
}
.page-wrapper:before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url('/assets/img/cover/4.jpg');
  background-size: cover;
  background-attachment: fixed;
}

/* 用来填充被页脚遮挡部分 */
.page-wrapper:after {
  content: "";
  display: block;
}
/* 填充块和页脚一样高 */
.page-wrapper:after {
  height: $footer-height; 
}

footer{
  height: $footer-height;
  text-align: center;
  line-height: $footer-height;
  background-color: #111;
  color: #777;
	z-index: 200;
	position: relative;
  div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

