@import 'mixins';
@import 'variables';

&{
  margin-bottom: 50px;
}

h4{
  color: #777;
  font-weight: normal;
  margin-top: 40px;
  padding-bottom: 7px;
  border-bottom: 1px solid lighten($grey, 20%);
}

h4 .year{
  float: right;
  color: #aaa;
  font-family: cursive;
  font-size: 24px;
  font-style: italic;
}

li{
  font-size: 14px;
  line-height: 28px;
  time{
    color: #999;
    margin-right: 30px;
    font-family: monospace;
  }
}

@media(max-width: 768px){
  li time{
    display:none;
  }
}
