@import 'variables';
@import 'mixins';
$top-blank: 70px;
$spliter-top-offset: 70px;
$timeline-left-width: 95px;

aside, .posts{
  margin-top: $top-blank;
}
.post {
  time{
    float: left;
    text-align: right;
    width: $timeline-left-width;
    padding: 2px 18px 10px 0;
    border-bottom: 1px solid $light-grey;
    color: $grey;
    .day{
      font-size: 22px;
      line-height: 22px;
    }
    .month{
      font-size: 14px;
      margin-bottom: 0;
      font-style: italic;
      font-family: cursive;
    }
  }
  article{
    border-left: 6px solid $light-grey;
    overflow: hidden;
    padding: 0 0 40px 20px;
    margin-left: $timeline-left-width;
    header{
      margin-bottom: 20px;
      overflow: hidden;
      h1{
        font-size: 1.5em;
        margin-top: 0;
        a{
          @include link-hover($grey, $blue);
          font-weight: normal;
        }
      }
    }
    .more{
      margin-top: 10px;
    }
  }
}
.post:first-child{
  article{
    padding-top: $spliter-top-offset;
    margin-top: -$spliter-top-offset;
  }
  time{
    margin-top: $spliter-top-offset;
    border-top: none;
  }
}

@media(max-width: 768px){
  .posts {
    margin-top: 30px;
  }
  .post{
    time{
      display: none;
    }
    article{
      padding-left: 0;
      margin-left: 0;
      border-left: none;
    }
  } 
}

.md{
  p, h1, h2, h3, h4, h5, h6, b, strong{
    color: #777;
    font-weight: normal;
    border-bottom: none;
  }
  img, table{
    display: none;
  }
  blockquote{
    border-left: none;
    padding: 0;
    p, h1, h2, h3, h4, h5, h6, b, strong{
      color: #999;
    }
  }
}

// layout
aside{
  float: right;
  margin-left: 80px;
  width: 235px;
  section.tag-list{
    margin-top: 70px;
    .tag{
      margin-bottom: 0.8em;
    }
  }
  h4{
    color: $grey;
    margin-bottom: 20px;
    font-weight: normal;
    border-bottom: 1px solid #F5F5F5;
  }
  h4::after{
    content: ' ';
    display: block;
    border-bottom: 1px solid $light-grey;
    width: 40px;
    margin-top: 5px;
    margin-bottom: -1px;
    @include animation(width-percentage 15s infinite alternate);
  }
  section:hover h4::after{
    @include animation(width-percentage .5s infinite alternate);
  }
}

@include keyframes(width-percentage){
  from{ width: 40px; }
  to{ width: 100%; }
}

.content{
  margin-right: 235px + 60px;
}

@media(max-width: 768px){
  .content{
    margin-right:0;
  }
}
