@import 'variables';
$border-color: #f5f5f5;

li{
  padding: 9px 0 0;
  border-bottom: 1px solid $border-color;
  a{
    @include sans;
    color: #aaa;
  }
  span{
    color: #bbb;
    float: right;
    transition: color 0;
    transition-delay: .3s;
  }
}

li::after{
  content: ' ';
  display: block;
  clear: both;
  transition: width .3s ease-in;
  border-bottom: 1px solid lighten($red, 10%);
  width: 0%;
  height: 9px;
}

li:hover{
  a, span{
    color: #555;
  }
  a:hover{
    color: $red;
    text-decoration: none;
  }
}

li:hover::after{
  width: 100%;
}
