$left-width: 50%;

&{
  position: fixed;
  top: 77px;
  bottom: 0;
  left: 0;
  right: 0;
}

.left-panel, .right-panel{
  position: absolute;
  overflow: auto;
  top:0;
  bottom:0;
}

.left-panel{
  left: 0;
  width: $left-width;
}

.right-panel{
  left:$left-width;
  right:0;
  margin: 30px 0 30px 50px;
}

.tag-cloud{
  position: absolute;
  top: 30px;
  left: 20px;
  right: 20px;
  bottom: 36px;
}

li{
  line-height: 28px;
  font-size: 14px;
  div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  time{
    float: right;
    color: #999;
    display: inline-block;
    width: 100px;
    margin-left: 20px;
  }
}

@media(max-width: 1200px){
  li time{
    display: none;
  }
}
@media(max-width: 768px){
  &{
    position: static;
  }
  .left-panel{
    position: relative;
    height: 400px;
    width: auto;
  }
  .right-panel{
    position: static;
    .post-list{
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

