@import 'mixins';
@import 'variables';

&{
  margin-bottom: 50px;
}

h4{
  color: $grey;
  font-weight: normal;
  margin-top: 40px;
  padding-bottom: 7px;
  border-bottom: 1px solid $light-grey;
}

h4 .year{
  float: right;
  color: $light-grey;
  font-family: cursive;
  font-size: 24px;
  font-style: italic;
}

li{
  font-size: 14px;
  line-height: 28px;
  time{
    font-family: monospace;
    color: $light-grey;
    width: 150px;
    float: left;
  }
  div{
    margin-left: 160px;
  }
  .title{
    margin-right: 10px;
  }
  @include media-xs{
    div{
      margin-left: 0;
    }
    time, .tag{
      display:none;
    }
  }
}

