@import 'mixins';
@import 'variables';

svg.logo {
  position: relative;
  top: 2px;
  height: 32px;
  .h {
    fill: #5ABA59;
  }
  .rest {
    fill: #b6c0ce;
    font: normal 350px sans-serif;
  }
}

header{
  padding: 15px 0 15px;
  position: relative;
  z-index: 1000;
  background: $grey;
  nav a{
    line-height: 38px;
    margin-left: 1rem;
    @include link-hover($light-grey, white);
    @include media-xs{
      margin-left: 0.5rem;
    }
  }
}
