@import 'mixins';

&{
  overflow: hidden;
  min-width: 220px;
  overflow: hidden;
  height: 64px;
}
.rolls-toggle{
  cursor: pointer;
  float: right;
  margin-right: 1px;
}
img{
  @include size(64px);
  border-radius: 5px;
  float: left;
  margin-right: 10px;
}
header{
  overflow: hidden;
  font-size: 18px;
  margin-top: 5px;
}
p{
  font-size: 13px;
  margin-top: 5px;
  color: #aaa;
  font-style: italic;
}
