&{
  margin-top: 30px;
}
&.collapsed{
  .content{
    margin-left: 0px;  
  }
  aside{
    display: none;
  }
}

aside{
  float: left;
}

.content{
  margin-left: 250px;  
}


.post-meta{
  float: right;
  margin-top: -20px;
}

.pager{
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .md {
    padding: 20px 20px 40px;
  }
}
