@import 'mixins';
@import 'variables';
@mixin share-block($color) {
  background: $color;
}

ul{
  margin-bottom: 0;
}

li {
  display: inline-block;
  margin-right: 5px;
  a {
    color: #fff;
    display: inline-block;
    border-radius: 20px;
    font-size: 18px;
    @include inline-size(36px);
    transition: transform 0.7s;
  }
  a:hover {
    transform: rotate(720deg);
  }
}

.wechat a {
  @include share-block($green);
}

.github a {
  @include share-block($light-grey);
}

.facebook a {
  @include share-block(#3B5998);
}

.linkedin a {
  @include share-block($blue);
}

.feed a{
  @include share-block($red);
}
