&{
  margin-top: -140px;
  padding-top: 140px;
  &:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: url('/assets/img/cover/4.jpg');
    background-size: cover;
  }
}

.avatar-wrapper{
  text-align: center;
  .avatar{
    margin-top: 120px;
    width: 160px;
    border-radius: 80px;
    margin-bottom: 20px;
  }
  .lead{
    color: #7B7B7B;
    font-size: 24px;
    margin-bottom: 50px;
  }
}

.links{
  background-color: rgba(0,0,0,0.5);
  .container-fluid{
    padding-top: 70px;
    padding-bottom: 50px;
  }
  section{
    $border-color: #555;
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid $border-color;
    border-radius: 3px;
    text-align: center;
    header, ul{
      padding: 10px;
      margin: 0;
    }
    header{
      color: white;
      font-weight: bold;
      font-size: 18px;
      border-bottom: 1px solid $border-color;
    }
    ul{
      $fore-color: #888;
      min-height: 140px;
      color: $fore-color;
      font-size: 14px;
      a{
        @include link-hover($fore-color, white);
      }
      li{
        height: 24px;
        line-height: 24px;
      }
    }
  }
}

footer{
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #111;
}

@media(max-width: 768px){
  section{
    margin-bottom: 30px;
  }  
}
