@import 'variables';
@import 'mixins';

@mixin collapsed(){
  .content{
    margin-left: 0px;  
  }
  aside{
    display: none;
  }
}

header{
  background: linear-gradient(172deg, $grey 0, $grey 15%, $blue 70%);
  color: white;
  padding-top: 50px;
  h3{
    margin: 0 0 45px;
  }
  time{
    color: white;
    font-size: 14px;
    font-style: italic;
  }
  .tag-list{
    margin-bottom: 20px;
    .tag{
      border-color: white;
    }
  }
  @include media-xs{
    padding-top: 35px;
    h3{
      margin-bottom: 20px;
    }
    .tag-list{
      margin-bottom: 10px;
    }
    time{
      display: none;
    }
  }
}

&.collapsed{
  @include collapsed();
}

@include media-xs{
  @include collapsed();
}


aside{
  float: left;
  margin-top: -55px;
  @import 'toc';
}

.content{
  margin-left: $toc-width + 50px;  
  margin-top: 50px;
  @include media-xs{
    margin-top: 30px;
    margin-left: 0;  
  }
}

.md .copyright{
  margin-top: 20px;
}

.post-pager{
  margin-bottom: 50px;
  margin-top: 30px;
  .previous{
    float: left;
  }
  .next{
    float: right;
  }
}

#social-share-block{
  text-align: right;
  .social-share{
    display: inline-block;
  }
}

