$left-width: 50%;
@mixin absolute($t, $r, $b, $l){
  position: absolute;
  top: $t;
  bottom: $b;
  left: $l;
  right:$r;
}

&{
  @include absolute(111px, 0, 0, 0);
  position: fixed;
  @include media-xs{
    position: static;
  }
}

.left-panel, .right-panel{
  @include absolute(0, 0, 0, 0);
}

.left-panel{
  width: $left-width;
  .tag-container{
    display: none;
    @include absolute(55px, 30px, 30px, 30px);
  }
  .tag-list{
    padding-bottom: 50px;
    overflow: auto;
    span{
      cursor: pointer;
    }
  }
  #tags-display-toggle{
    position: absolute;
    opacity: 0.5;
    bottom: 30px;
    left: 30px;
    margin: 0;
    transition: opacity .5s;
    &:hover{
      opacity: 1;
    }
    @include link-hover($light-grey, $green);
    @include media-md{
      &.shown{
        display: inline;
      }
    }
  }
  #current-tag{
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 14px;
    font-weight: bold;
    color: $light-grey;
  }
  @include media-xs{
    position: relative;
    height: 400px;
    width: auto;
  }
}

.right-panel{
  left:$left-width;
  .post-list{
    @include absolute(0, 0, 0, 0);
    overflow: auto;
    padding: 30px 30px 30px 20px;
    @include media-xs{
      padding: 0px 30px 30px;
    }
  }
  #status-bar{
    margin: 0;
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
  @include media-xs{
    position: static;
    padding-left: 0;
    .post-list{
      position: static;
    }
    #status-bar{
      display: none;
    }
  }
}

li{
  line-height: 28px;
  font-size: 14px;
  div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  time{
    float: right;
    color: $light-grey;
    width: 100px;
    margin-left: 20px;
    display: none;
    @include media-md{
      display: inline-block;
    }
  }
}

