.page-blog {
  .jumbotron{
    padding-bottom: 8px;
    font-size: 0;
    .title {
      overflow-wrap: break-word;
      h1 {
        font-size: 2.5rem;
        word-break: break-all;
        margin: 0;
      }
      > div {
        display: inline-block;
      }
    }
    .author {
      margin: 0 0 0 var(--toc-width);
      font-size: 1rem;
      display: flex;
      align-items: center;
      color: white;
      img {
        border-radius: 50%;
        margin-right: 8px;
        height: 32px;
        width: 32px;
      }
    }
    .tag-list {
      white-space: nowrap;
      overflow: hidden;
      text-align: left;
      margin: 16px 0 0;
      text-shadow: none;
      font-size: 1rem;
      font-weight: normal;
      .tag {
        margin-right: .2rem;
        border-color: white;
        color: white;
      }
    }
    &::after{
      clear: none;
    }
  }

  time {
    font-size: 1rem;
    line-height: 1.6rem;
  }

  .main-content {
    display: flex;
    .content {
      flex: 1;
      overflow: auto;
      margin-top: 48px;
      @include media-xs{
        margin-top: 32px;
        margin-left: 0;  
      }
      .md {
        margin-bottom: 48px;
        color: var(--primary-color);
      }
      .md > p:last-child {
        margin-top: 48px;
      }
    }
    .toc-wrapper {
      flex: 0 0 var(--toc-width);
      margin-right: 40px;
    }
  }

  .post-pager{
    margin-top: 10px;
    margin-bottom: 48px;
    .btn-hover{
      max-width: 360px;
      min-width: 200px;
    }
    .previous, .next, .recommend {
      display: block;
      border-left: 1px solid var(--link-color);
    }
    .recommend{
      display: none;
    }
  }
  .utterances{
    margin-bottom: 64px;
    max-width: none;
  }
  @mixin collapsed(){
    .content{
      margin-left: 0px;  
    }
    aside{
      display: none;
    }
    .jumbotron{
      .tag-list{
        margin-left: 0;
      }
      .author {
        margin-left: 0;
      }
    }
  }

  &.collapsed{
    @include collapsed();
  }

  @include media-xs{
    @include collapsed();
    .jumbotron .title {
      padding: 70px 0 30px;
      font-size: 1.8em;
      text-align: left;
      h1 {
        font-size: 1.8rem;
      }
    }
  }
}
