@import 'mixins';
@import 'variables';

.page-default {
  svg.logo {
    position: relative;
    top: 2px;
    height: 32px;
    .h {
      fill: #5ABA59;
    }
    .rest {
      fill: #b6c0ce;
      font: normal 350px sans-serif;
    }
  }

  header{
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    z-index: 1000;
    background: $grey;
    nav a{
      line-height: 38px;
      margin-left: 1rem;
      @include link-hover($light-grey, white);
      @include media-xs{
        margin-left: 0.5rem;
      }
    }
  }

  footer{
    height: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #333;
    color: #b6c0ce;
    z-index: 200;
    position: relative;
  }
}
