@import 'variables';
@import 'mixins';
$top-blank: 70px;
$spliter-top-offset: 70px;
$timeline-left-width: 95px;

.page-index {
  display: flex;
  justify-content: space-between;
  .content {
    flex: 75%;
    flex-grow: 3;
    padding-right: 30px;
    overflow: hidden;
    article {
      time{
        float: left;
        text-align: right;
        width: $timeline-left-width;
        padding: 4px 18px 10px 0;
        border-bottom: 1px solid $light-grey;
        color: $grey;
        .day{
          font-size: 22px;
          line-height: 22px;
          margin-top: 0;
        }
        .month{
          font-size: 14px;
          margin-bottom: 0;
          font-style: italic;
          font-family: cursive;
        }
      }
      details{
        display: block;
        border-left: 6px solid $light-grey;
        overflow: hidden;
        padding: 0 0 40px 20px;
        margin-left: $timeline-left-width;
        h1 {
          margin-top: 0;
          a{
            @include link-hover($grey, $blue);
            font-weight: normal;
          }
        }
        summary {
          list-style: none;
        }
        summary::-webkit-details-marker {
          display: none;
        }
        .tags .tag {
          margin-bottom: 0.3rem;
        }
      }
    }
    article:first-child{
      details{
        padding-top: $spliter-top-offset;
      }
      time{
        margin-top: $spliter-top-offset;
        border-top: none;
      }
    }
    .pager{
      margin: 15px 0 50px 0px;
      display: flex;
      a{
        flex: 1;
        border: 1px solid #4D85D1;
        text-align: center;
      }
      a:nth-child(2){
        border-left: none;
      }
    }
  }
  aside {
    flex: 25%;
    flex-grow: 1;
    min-width: 180px;
    padding-top: 70px;
    h4{
      color: $grey;
      overflow: hidden;
      font-size: 18px;
      margin: 0 0 20px;
      font-weight: normal;
      border-bottom: 1px solid #eee;
    }
    h4::after{
      content: ' ';
      display: block;
      border-bottom: 1px solid $light-grey;
      width: 100%;
      margin-left: -100%;
      margin-top: 5px;
    }
    section.author-block{
      margin-bottom: 20px;
    }
    section.follow{
      margin-bottom: 60px;
      .social-share{
        padding-left:0;
      }
      .social-share li{
        display:inline-block;
        margin-right:5px;
        vertical-align: top;
      }
      .social-share li a{
        display:inline-block;
        transition:transform .5s;
        height:36px;
        width:36px;
        display: block;
        overflow: hidden;
        border-radius:18px;
      }
      .social-share li a:hover{
        transform:rotate(360deg);
      }
    }
    section.collection-list{
      li{
        line-height: 40px;
        a{
          @include link-hover(#777, $blue);
        }
      } 
      h4::after{
        @include animation(width-percentage 14s linear 7s infinite);
      }
      &:hover h4::after{
        border-bottom: 1px solid $blue;
        @include animation(width-percentage 1s linear infinite);
      }
    }
  }

  @include keyframes(width-percentage){
    from{margin-left: -100%;}
    to{margin-left: 100%;}
  }

  @include media-xs{
    display: block;
    > .content {
      padding-right: 0;
    }
    > aside {
      display: none;
    }
    .content {
      article {
        time{
          display: none;
        }
        details{
          padding-left: 0;
          margin-left: 0;
          border-left: none;
        }
      }
      article:first-child details{
        padding-top: 40px;
      }
    }
  }
}
