@import 'mixins';
@import 'variables';

.page-archive {
  margin-bottom: 50px;
  h1 {
    color: #333;
    font-size: 24px;
  }
  h4 {
    color: $grey;
    margin-top: 40px;
    padding-bottom: 7px;
    border-bottom: 1px solid $light-grey;
  }

  h4 .year{
    float: right;
    color: $light-grey;
    font-family: cursive;
    font-size: 1.5rem;
    font-style: italic;
  }

  li{
    line-height: 2rem;
    time {
      width: 150px;
      float: left;
    }
    div {
      margin-left: 160px;
    }
    .title{
      margin-right: 10px;
    }
    @include media-xs{
      div{
        margin-left: 0;
      }
    }
  }
}
