.page-404 {
  background: #333;
  padding-top: 100px;

  h1{
    font-size: 48px;
    color: white;
  }

  .lead{
    color: #999;
  }

  form input {
    margin: 30px auto;
    width: 300px;
    height: 35px;
    font-size: 17px;
    padding: 2px 10px;
    border-radius: 3px;
    border: none;
  }
}
