.page-collection{
  margin-bottom: 64px;

  .jumbotron {
    h1{
      font-size: 2.5em;
      padding-bottom: 48px;
    }
    p{
      font-size: 1.5em;
      color: #ddd;
      margin: 0;
      padding-bottom: 112px;
    }
  }
  .article-list {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
  }
  article {
    flex: 48%;
    flex-grow: 0;
    margin: 56px 0 0;
    h3 {
      margin: 0 0 10px;
      a {
        @include link-hover(var(--primary-color), var(--link-color));
      }
    }
    .tag-list {
      margin-top: 0;
      .tag {
        margin-bottom: 0.3rem;
      }
    }
    .excerpt p {
      max-height: 90px;
      overflow: hidden;
      text-overflow: ellipsis;

      /* for webkit browsers */
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .excerpt .more {
      text-align: right;
    }
  }
}
