.page-default {
  header {
    height: 64px;
    line-height: 64px;
    font-size: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 1000;
    background: var(--darken-bg-color);
    .logo {
      display: inline-block;
      svg {
        height: 32px;
        vertical-align: middle;
        .h {
          fill: $green;
        }
        .rest {
          fill: var(--darken-primary-color);
          font: normal 350px sans-serif;
        }
      }
    }
    nav {
      float: right;
      height: 64px;
    }
    nav a {
      margin-left: 1rem;
      font-size: 16px;
      color: var(--darken-primary-color);
      @include media-xs {
        margin-left: 0.5rem;
      }
    }
  }

  footer {
    height: 64px;
    line-height: 64px;
    text-align: center;
    background-color: var(--darken-bg-color);
    color: #b6c0ce;
  }
}
