@import 'variables';
@import 'mixins';
@import 'toc';

.page-blog {
  .jumbotron{
    h1{
      overflow-wrap: break-word;
      a.collection{
        color: white;
        font-size: 17px;
        text-shadow: none;
      }
      a.collection:hover{
        color: white;
      }
    }
    .tag-list{
      white-space: nowrap;
      overflow: hidden;
      margin: 0 100px 0 $toc-width;
      padding-bottom: 0.5rem;
      .tag{
        margin-bottom: .3rem;
        margin-right: .2rem;
        border-color: white;
        color: white;
      }
    }
    &::after{
      clear: none;
    }
  }

  time{
    font-style: italic;
    line-height: 1.6rem;
  }

  .main-content {
    display: flex;
    .content{
      flex: 1;
      overflow: auto;
      margin-top: 50px;
      @include media-xs{
        margin-top: 30px;
        margin-left: 0;  
      }
      .md {
        margin-bottom: 50px;
        color: #333;
      }
      .md > p:last-child {
        margin-top: 50px;
      }
    }
    .toc-wrapper{
      flex: 0 0 $toc-width;
      margin-right: 30px;
    }
  }

  .wechat-banner{
    float: right;
    height: 64px;
    width: 224;
    border: 1px solid #2ba045;
  }

  .post-pager{
    margin-top: 10px;
    margin-bottom: 50px;
    .btn-hover{
      max-width: 380px;
      min-width: 200px;
    }
    .previous, .next, .recommend{
      display: block;
      border-left: 1px solid $blue;
    }
    .recommend{
      display: none;
    }
  }
  .utterances{
    margin-bottom: 50px;
    max-width: none;
  }

  @mixin collapsed(){
    .content{
      margin-left: 0px;  
    }
    aside{
      display: none;
    }
    .jumbotron{
      .tag-list{
        margin-left: 0;
      }
    }
  }

  &.collapsed{
    @include collapsed();
  }

  @include media-xs{
    @include collapsed();
    .jumbotron h1{
      padding: 70px 0 30px;
      font-size: 1.8em;
      text-align: left;
    }
  }
}
