@import 'mixins';

.page-about {
  background: url('/assets/img/cover/4.jpg') #444;
  background-size: cover;
  background-attachment: fixed;
  .avatar-wrapper{
    .avatar{
      margin-top: 120px;
      width: 160px;
      border-radius: 80px;
      margin-bottom: 20px;
    }
    .lead{
      color: white;
      font-size: 24px;
      margin-bottom: 100px;
    }
  }

  .links{
    padding-bottom: 70px;
    section{
      background: rgba(0, 0, 0, 0.39);
      margin-bottom: 45px;
      $border-color: #555;
      border: 1px solid $border-color;
      border-radius: 3px;
      color: #ccc;
      a{
        color: #64a6ff;
      }
      h2{
        margin: 0;
        padding: 12px;
        text-align: center;
        color: white;
        font-size: 18px;
        border-bottom: 1px solid $border-color;
      }
      .content {
        font-size: 15px;
        padding: 20px;
        margin: 0;
      }
      @media(max-width: 768px){
        margin-bottom: 30px;
      }
    }
    .projects {
      dt {
        font-weight: bold;
      }
      dd {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      dd:last-child {
        margin-bottom: 0;
      }
    }
    .thanks {
      li {
        text-align: center;
        min-width: 30%;
        padding: 0 10px 0 0;
        display: inline-block;
        height: 30px;
        line-height: 30px;
      }
    } 
  }
}
