@import 'mixins';

.post-meta{
  color: #aaa; 
  a{
    color: #aaa;
    margin-right: 2px;
    @include linkable;
  }
  .date{
    margin-left: 10px;
  }
}

.title{
  font-weight: normal;
  font-style: italic;
}
