@import 'mixins';

.post-meta{
  color: #aaa; 
  .tags{
    margin-right: 10px;
  }
}

.tags{
  a, i{
    color: #aaa;
    margin-right: 5px;
  }
  a{
    @include linkable;
  }
}

.title{
  font-weight: normal;
}
