$padding-horizontal: 16px;

aside.toc{
  width: $toc-width;
  margin-top: -38px;
  .toc-wrapper {
    position: sticky;
    position: -webkit-sticky;
    top: 40px;
  }
  .toc-slot{
    margin-bottom: 32px;
    border: var(--light-separator-color) 0.5px solid
  }
  ul{
    margin-top: 0;
    margin-bottom: 0;
    background: var(--bg-color);
    padding-left: 0;
    > .active > a{
      text-decoration: none;
      border: 1px solid $green;
    }
    > .active > ul {
      display: block;
    }
    > li > a {
      height: 32px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      border: 1px solid transparent;
      padding: 0 $padding-horizontal;
      color: var(--primary-color);
      text-decoration: none;
      &:hover {
        color: $green;
      }
    }
    ul{
      display: none;
      > li > a {
        padding-left: 10px + $padding-horizontal;
        font-size: 90%;
      }
      ul{
        > li > a {
          padding-left: 20px + $padding-horizontal;
        }
        ul{
          > li > a {
            padding-left: 30px + $padding-horizontal;
          }
          ul{
            > li > a {
              padding-left: 40px + $padding-horizontal;
            }
            ul{
              padding-left: 50px + $padding-horizontal;
            }
          } 
        } 
      }
    }
  }
}
