@import 'mixins';
@import 'variables';

.sidebar {
  font-size: 14px;
  width: $toc-width;
  border-bottom: 1px solid $light-grey;
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  .nav{
    > .active > a{
      color: $grey;
      text-decoration: none;
      border-right: 2px solid $green;
    }
    > .active > ul {
      display: block;
    }
    > li > a {
      display: block;
      padding: 8px 25px;
      color: $light-grey;
      text-decoration: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border-right: 1px solid $light-grey;
    }
    .nav {
      display: none;
      > li > a {
        margin-left: 10px;
        font-size: 90%;
      }
      .nav{
        > li > a {
          margin-left: 20px;
        }
        .nav{
          > li > a {
            margin-left: 30px;
          }
          .nav{
            > li > a {
              margin-left: 40px;
            }
            .nav > li > a {
              margin-left: 50px;
            }
          } 
        } 
      }
    }
  }
}

.sidenav {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #fff;
}

.sidebar.affix {
  position: fixed;
  top: 40px;
}

.sidebar.affix-bottom {
  position: absolute;
}
