$green: #5ABA59;

:root {
  --bg-color: #fff;
  --primary-color: #333;
  --secondary-color: #555;
  --separator-color: #b6c0ce;
  --light-separator-color: #0000001a;
  --link-color: #4D85D1;
  --toc-width: 360px;

  --darken-bg-color: #333;
  --darken-primary-color: #fff;
  --darken-secondary-color: #b6c0ce;

  --hl-bg-color: #f8f8f8;
  --code-color: #BA5A5D;

  @include media-lg {
    --toc-width: 300px;
  }

  @include media-sm {
    --toc-width: 240px;
  }

  @media(prefers-color-scheme: dark) {
    --bg-color: #333;
    --primary-color: #fff;
    --secondary-color: #ccc;
    --separator-color: #b6c0ce;
    --light-separator-color: #ffffff1a;
    --link-color: #61a4ff;

    --darken-bg-color: #222;
    --darken-primary-color: #fff;
    --darken-secondary-color: #b6c0ce;

    --hl-bg-color: #222;
    --code-color: #ff797d;
  }
}
