/*main css file for harttle land*/

body{
  -webkit-font-smoothing: antialiased;
  position: relative; /* for scroll spy with absolute position */
  background-color: #ddd;
}

.global-nav{
  margin-bottom: 0;
  border-radius:0;
}


/* Page header */
.hl-header {
  margin-top: 0;
  margin-bottom:0;
  color: #cdbfe3;
  background-image: url(/assets/img/bg.jpg);
  padding: 30px 15px 40px; /* side padding builds on .container 15px, so 30px */
  font-size: 16px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  border-bottom: 3px solid #fff;
  box-shadow: inset 0 -1px 0 white, 0 1px 5px rgba(0,0,0,.3);
}
.hl-header h1 {
  color: #fff;
}
.hl-header small{
  color: lightgrey;
  font-family: cursive;
}
.hl-header p {
  font-weight: 300;
  line-height: 1.5;
}
.hl-header .container {
  position: relative;
}
@media (min-width: 768px) {
  .hl-header {
    font-size: 21px;
    text-align: left;
  }
  .hl-header h1 {
    font-size: 45px;
    line-height: 1;
  }
}

/* papper effect */
.paper
{
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.paper *:first-child{
    margin-top: 0;
}
.paper *:last-child{
    margin-bottom: 0;
}

.paper:before
{
    position: absolute;
    width: 200px;
    height: 300px;
    max-width: 80%;
    max-height: 80%;
    left: 8px;
    top: 7px;
    content: ' ';
    background: transparent;
    transform: skew(3deg, 3deg); -webkit-transform: skew(3deg, 3deg); -moz-transform: skew(3deg, 3deg); -ms-transform: skew(3deg, 3deg); -o-transform: skew(3deg, 3deg); 
    box-shadow: -6px 6px 12px rgba(0, 0, 0, 0.3); -webkit-box-shadow: -6px 6px 12px rgba(0, 0, 0, 0.3); -moz-box-shadow: -6px 6px 12px rgba(0, 0, 0, 0.3);
    z-index: -1;
} 

.paper:after
{
    position: absolute;
    width: 200px;
    height: 300px;
    max-width: 80%;
    max-height: 80%;
    right: 8px;
    bottom: 7px;
    content: ' ';
    background: transparent;
    transform: skew(3deg, 3deg); -webkit-transform: skew(3deg, 3deg); -moz-transform: skew(3deg, 3deg); -ms-transform: skew(3deg, 3deg); -o-transform: skew(3deg, 3deg); 
    box-shadow: -6px 6px 12px rgba(0, 0, 0, 0.7); -webkit-box-shadow: -6px 6px 12px rgba(0, 0, 0, 0.7); -moz-box-shadow: -6px 6px 12px rgba(0, 0, 0, 0.7);
    z-index: -1;

} 

/* Featured link */

a.feature-link{
    color: #000;
    text-decoration: none;
    transition: color .2s ease-out 0s;
}
a.feature-link:hover{
    color: #903;
}


/* color scheme */

.widget-date{ 
    color: #603;
    font-size: 14px;
    font-family: Georgia, "Times New Roman", Times, serif;
    transition: color .2s ease-out 0s;
}
.widget-date:hover{
    color: #903;
    text-decoration: none;
}
.label-blue{ background-color: #1A57B9; }
.label-yellow{ background-color: #cc3; }
.label-red{ background-color: #990033; }
.label-darkred{ background-color: #660033; }

.label, .label a, .button{ color: #fff; }
.label:hover, .label a:hover, .button:hover{ color: #fff; text-decoration: none; }

.button-flat-blue {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #1A57B9;
  color: white;
  text-shadow: none;
  border: none; }
.button-flat-blue:hover {
    background: #3879DB; }

.button-flat-red {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #903;
  color: white;
  text-shadow: none;
  border: none; }
.button-flat-red:hover {
    background: #c03; }

.button-flat-yellow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #cc3;
  color: white;
  text-shadow: none;
  border: none; }
.button-flat-yellow:hover {
    background: #dd5; }


/* scrollUp button */

#scrollUp{
  bottom: 40px;  
  right: 40px; 
  height: 38px; 
  width: 38px;
  opacity: 0.5;
  background: url(/assets/img/top.png) no-repeat;
}
#scrollUp:hover{
  opacity: 1;
}



/* credit */

.credit {
  margin: 20px 0;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}
.credit p{
  display: inline;
}
.credit .follow a{
  color: #999;
  margin-left: 5px;
}
.credit .follow a:hover{
  color: black;
  text-decoration: none;
}

/*.hidden-xs {
    display: inline-block !important;
}

@media (max-width: 767px) {
.hidden-xs {
  display: none!important;
 }
}*/
