/*main css file for harttle land*/

body{
  position: relative; /* for scroll spy with absolute position */
  /* padding-top: 50px;  padding off fixed-nav */
}


/* Page header */
.hl-header {
  margin-top: 0;
  margin-bottom:0;
  color: #cdbfe3;
  background-image: url(/assets/img/bg.jpg);
  padding: 30px 15px 40px; /* side padding builds on .container 15px, so 30px */
  font-size: 16px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  border-bottom: 3px solid #fff;
  box-shadow: inset 0 -1px 0 white, 0 1px 5px rgba(0,0,0,.3);
}
.hl-header h1 {
  color: #fff;
}
.hl-header small{
  color: lightgrey;
  font-family: cursive;
}
.hl-header p {
  font-weight: 300;
  line-height: 1.5;
}
.hl-header .container {
  position: relative;
}
@media (min-width: 768px) {
  .hl-header {
    font-size: 21px;
    text-align: left;
  }
  .hl-header h1 {
    font-size: 45px;
    line-height: 1;
  }
}

a.feature-link{
    color: #000;
    text-decoration: none;
    transition: color .2s ease-out 0s
}
a.feature-link:hover{
    color: #39f;
}
.global-nav{
  margin-bottom: 0;
  border-radius:0;
}

/* custom css */
.time{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
}

.panel-active{
  box-shadow: 5px 5px 10px #888;
}
.panel-active:hover{
  box-shadow: 10px 10px 15px #888;
}

/* panel with tool bar */
.panel-toolbar .panel-body hr{
    margin-bottom: 15px;
    margin-top: 10px;
}

#scrollUp{
  bottom: 40px;  
  right: 40px; 
  height: 38px; 
  width: 38px;
  opacity: 0.5;
  background: url(/assets/img/top.png) no-repeat;
}
#scrollUp:hover{
  opacity: 1;
}

.nowrap{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.credit {
  margin: 20px 0;
  height: 20px;
}
.credit p{
  display: inline;
}
.credit .follow a{
  color: #999;
  margin-left: 5px;
}
.credit .follow a:hover{
  color: black;
  text-decoration: none;
}

.hidden-xs {
    display: inline-block !important;
}

@media (max-width: 767px) {
.hidden-xs {
  display: none!important;
 }
}
