/* 
Some basic Github styles and syntax highlighting CSS via Pygments.
 */
.md{
    color: #555;
    font-size:14px;
    line-height: 28px;
}
.md{ overflow-wrap: break-word; }
.md a, .md code{
    margin-left: 3px;
    margin-right: 3px;
    word-wrap: break-word;
}
.md pre code{
    margin-left: 0;
    margin-right: 0;
}
.md p{ margin: 5px 0; }
.md h1 {
    margin: 15px 0;
    padding-bottom: 2px;
    font-size: 24px;
    border-bottom: 1px solid #EEE;
}
.md h2 {
    margin: 20px 0 10px 0;
    font-size: 18px;
}
.md h3 {
    margin: 20px 0 10px 0;
    padding-bottom: 2px;
    font-size: 14px;
    border-bottom: 1px solid #DDD;
}
.md h4 {
    font-size: 14px;
    line-height: 26px;
    padding: 18px 0 4px;
    font-weight: bold;
    text-transform: uppercase;
}
.md h5 {
    font-size: 13px;
    line-height: 26px;
    padding: 14px 0 0;
    font-weight: bold;
    text-transform: uppercase;
}
.md h6 {
    color: #666;
    font-size: 14px;
    line-height: 26px;
    padding: 18px 0 0;
    font-weight: normal;
    font-style: italic;
}
.md ul, .md ol{ margin: 0;}
.md br+br {
    line-height:0;
    height:0;
    display:none;
}
.md blockquote {
    margin: 10px 0;
    border-left: 4px solid #DDD;
    padding: 0 0 0 11px;
    color: #777;
}
.md blockquote p{ font-size:13px; }
.md .highlight { margin: 10px 0; }
.md pre{ padding: 15px 20px; border: 0; overflow-x:auto;}
.md tt,.md code,.md pre {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 12px;
}
.md pre code{
    word-wrap: normal;
    white-space: pre;
    overflow-wrap: normal;
}
.md *:not(pre)>code{
    border: 1px solid #ddd;
    color: #777; /*#c03;*/
    background-color: #f8f8f8;
    border-radius: 3px;
    white-space: normal;/*overcome bootstrap nowrap*/
    padding: 3px 4px 0 4px;/*overcome bootstrap padding*/
}
.md a, .md a code { color: #4183C4; text-decoration:none; }
.md a:hover, .md a code:hover { text-decoration:underline; }
.md table {
    border-collapse: collapse;
    margin: 20px 0;
    padding: 0;
}
.md table tr th,.md  table tr td {
    border: 1px solid #CCC;
    text-align: left;
    margin: 0;
    padding: 0px 13px;
}
.md table tbody tr:nth-child(2n-1) {
    background-color: #F8F8F8;
}

.md div.mathjax{
    color: #000!important;
    overflow-x:auto;
    overflow-y:hidden;
}

.md img{
    padding: 10px;
    max-width: 100%;
}

.md img[src*='@2x'], .md img[alt*='@2x']{
    zoom: 50%;
}
