---
layout: blogs
---

<!-- style -->
<style>
    .widget-date{
        color: #fff;
    }
    .widget-date:hover{
        color: #fff;
    }
    .panel .panel-body hr{
        margin-bottom: 15px;
    }
</style>

{% assign block = content | split: '<!-- style -->' %}
{{ block[1] }}
<!-- style -->

<!-- content -->

    {% for post in site.categories[page.title] %}  

    <div class="panel panel-primary panel-active panel-toolbar">                                              
        <div class="panel-heading">                                                              
            <h3 class="panel-title" title="{{post.subtitle}}">
                <i class="{{ page.post-icon }}"></i> 
                {{ post.title }}
                <div class="pull-right">
                    {% include widget-date.html post=post %}
                </div>
            </h3>                                                                                
        </div>                                                                                   
        <div class="panel-body">                                                                     

            <div class="row"> 
                <div class="col-xs-12 col-sm-3">
                    <a href="{{post.url}}" class="thumbnail" style="margin-bottom: 5px;">
                        <img  class="lazy img-responsive" data-original="{{ post.file-pre }}thumb/{{ post.thumb }}"
                        src="/assets/img/loading.gif" alt="{{ post.thumb }}">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-8" >
                    <h4>{% if post.subtitle %}{{post.subtitle}}{% else %}{{post.title}}{% endif %}</h4>
                    <p>{{post.content}}</p>
                </div>
            </div>

            <div class="clearfix"></div>                                                         
            <hr/>

            {% include widget-categories.html post=post %}
            {% include widget-tags.html post=post %}

            <a class="pull-right button button-rounded button-flat-blue" href="{{post.url}}">Enter</a>

            <!--a class="label label-primary pull-right" href="{{post.url}}" >
                进入              
                <span class="glyphicon glyphicon-hand-right"></span>
            </a-->
        </div>
    </div>

    {% endfor %}
<!-- content -->

<!-- script -->
{% assign block = content | split: '<!-- script -->' %}
{{ block[1] }}

<script> </script>
<!-- script -->
