---
layout: default 
title: Archive
nav: archive
---

<!-- style -->
<style>
.archive-block{
    padding: 30px;
    margin-bottom: 50px;
}
.archive-block td.date{
    width: 10%;
}
.archive-block td.title{
    width: 40%;
}
.archive-block td.category{
    width: 10%;
}
.archive-block td.tag{
    width: 40%;
}
.classifiers{
    margin:30px 0;
}
.classifiers .button{
    margin: 20px 10px;
}
.classifiers .button:first-child{
    margin-left: 20px;
}
.classifiers .button:last-child{
    margin-right: 20px;
}
</style>
<!-- style -->


<!-- content -->

<div class="container">

    <div class="classifiers paper pull-right">
        <a class="button button-rounded button-flat-red" href="/archive-date.html">Date</a>
        <a class="button button-rounded button-flat-blue" href="/archive-category.html">Category</a>
        <a class="button button-rounded button-flat-yellow" href="/archive-tag.html">Tag</a>
    </div>

    <div class="clearfix"></div>

    <div>
        {{ content }}
    </div>

</div>

<!-- content -->


<!-- script -->
<script> </script>
<!-- script -->
