---
layout: banner 
title: Archive
subtitle: by Date, Category and Tag.
nav: archive
---

<style>
.archive-block{
    padding: 30px;
    margin-bottom: 50px;
}
.archive-block table{
    table-layout: fixed;
}
.archive-block td.date{
    min-width: 120px;
    width: 120px;
}
.archive-block td.title{
    width: 100%;
}
.archive-block td.category{
    min-width: 110px;
    width: 110px;
}
.archive-block td.tag{
    min-width: 200px;
    width: 200px;
}
.classifiers{
    background:rgba(255, 255, 255, 0.5);
    -webkit-box-shadow:5px 5px 5px #333;
    -moz-box-shadow:5px 5px 5px #333;
    box-shadow:5px 5px 5px #333;
    margin:0 0 30px;
}
.classifiers .btn{
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px 0;
}
.classifiers .btn:first-child{
    margin-left: 20px;
}
.classifiers .btn:last-child{
    margin-right: 20px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
</style>

<div class="container">
    <div class="classifiers paper pull-right">
        <a class="btn button-flat-red" href="/date.html">Date</a>
        <a class="btn button-flat-blue" href="/category.html">Cate</a>
        <a class="btn button-flat-yellow" href="/tag.html">Tag</a>
    </div>
    <div class="clearfix"></div>
    <div> {{ content }} </div>
</div>

