---
layout: blogs
---

<!-- style -->
<style> </style>

{% assign block = content | split: '<!-- style -->' %}
{{ block[1] }}
<!-- style -->

<!-- content -->

    {% for post in site.categories[page.title] %}                        
    <div style=margin-bottom:20px;>
        <h4 class="header">
            <a class="feature-link" href="{{post.url}}">{{ post.title }}</a>
            <p class="text-warning time pull-right">{{ post.date | date: "%Y-%m-%d"  }}</p>
        </h4>

        <div class=text-muted>{{post.excerpt}}</div>
    </div>
    {% endfor %}
<!-- content -->

<!-- script -->
{% assign block = content | split: '<!-- script -->' %}
{{ block[1] }}

<script> </script>
<!-- script -->
