---
layout: blogs
---

<!-- style -->
<style>
    .posts{
        padding: 30px;
    }
    .post{
        margin-bottom:20px;
    }
</style>

{% assign block = content | split: '<!-- style -->' %}
{{ block[1] }}
<!-- style -->

<!-- content -->

<div class="posts paper-curl pined">

    {% for post in site.categories[page.title] %}                        
    <div class="post">
        <h4 class="header">
            <a class="feature-link" href="{{post.url}}">{{ post.title }}</a>
            <div class="pull-right">
                {% include widget-date.html post=post %}
            </div>
        </h4>

        <div class=text-muted>{{post.excerpt}}</div>
    </div>
    {% endfor %}

</div>

<!-- content -->

<!-- script -->
{% assign block = content | split: '<!-- script -->' %}
{{ block[1] }}

<script> </script>
<!-- script -->
