---
layout: default
---

<article class="page-blog">
  <div class="jumbotron container"{%if page.background%} style="background:{{page.background}}"{%endif%}>
    <div class="title text-center">
      <div>
        <h1>{{page.title}}</h1>
        <p class="tag-list">
        {%for tag in page.tags%}{%include tag.html%}{%endfor%}
        </p>
      </div>
    </div>
    <time class="pull-right">{{ page.date | date: "%m/%d %Y" }}</time>
    <a class="author" href="{{ site.twitterUrl }}" target="_blank">
      <img src="/assets/img/avatar.jpg" alt="avatar"> Harttle
    </a>
  </div>
  <div class="main-content container">
    <aside class="toc">
      <div class="toc-wrapper">
        <div class="toc-slot"></div>
      </div>
    </aside>
    <div class="content">
      <div class="md">
        {{ content }}
        <p>本文采用 <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">知识共享署名 4.0 国际许可协议</a>（CC-BY 4.0）进行许可，转载注明来源即可： <a href="{{page.url}}">{{site.url}}{{page.url}}</a>。学识粗浅写作仓促，如有错误辛苦评论或
        <a href="mailto:{{site.email}}">邮件</a> 指出。</p>
      </div>
      <div class="hidden-xs">
        <img class="wechat-banner" src="/assets/img/wechat.jpeg" alt="微信搜一搜：Harttle Land">
      </div>
      <div class="post-pager clearfix">
        {% if page.previous %}<a rel="prev" href="{{page.previous.url}}" class="previous btn-hover ellipsis">
          上一篇：{{page.previous.title}}
        </a>{% endif %}
        {% if page.next %}<a rel="next" href="{{page.next.url}}" class="next btn-hover ellipsis">
          下一篇：{{page.next.title}}
        </a>{% endif %}
        <a href="{{page.next.url}}" class="recommend btn-hover ellipsis"></a>
      </div>
      <script src="https://utteranc.es/client.js" repo="harttle/harttle.github.io" issue-term="pathname" async></script>
    </div>
  </div>
  <script async src="/assets/js/blog.min.js"></script>
  {% include latex.html %}
</article>
