---
layout: banner
---

<!-- style -->
<style>
    .item-list li{
        line-height:30px;
    }
    .item-list .page-header{
        margin-bottom:10px;
    }
    .item-list ol{
        padding-left:5px;
    }
    .left, .right{
        margin-top:40px;
        margin-bottom:40px;
    }
</style>
{% assign block = content | split: '<!-- style -->' %}
{{ block[1] }}
<!-- style -->

<!-- content -->

<div class="row">

    <div class="col-md-8">

        <div class="left">
            {% assign block = content | split: '<!-- content -->' %}
            {{ block[1] }}
        </div>

    </div>

    <div class="col-md-3 col-md-offset-1 ">
        <div class="right">
        <div class="item-list">
            <h3 class="page-header"><a class="feature-link" href="/archive-category.html">Categories</a></h3>

            <ol class="list-unstyled">
                {% for cate in site.categories %}
                <li><a href="/categories/{{cate | first}}.html">{{cate | first | capitalize}}({{ cate | last | size }})</a></li>
                {% endfor %}
            </ol>
        </div>

        <div class="item-list">
            <h3 class="page-header"><a class="feature-link" href="/">Recent Posts</a></h3>

            <ol class="list-unstyled">
                {% for post in site.posts offset: 0 limit: 5 %}
                <li><a href="{{post.url}}">{{ post.title }}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>
    </div>
</div>
<!-- content -->

<!-- script -->
    {% assign block = content | split: '<!-- script -->' %}
    {{ block[1] }}
<!-- script -->
