---
layout: default
---

<div class="module-blog container post">

  {% include post-meta.html post=page %}

  <aside> <div class="sidebar"></div> </aside>

  <div class="content">
    <article class="md">
      {{ content }}
      <div class="copyright">
        <hr/>
        <p>
        除非注明，本博客文章均为原创，转载请以链接形式标明本文地址：
        <a href="{{page.url}}">{{site.url}}{{ page.url }}</a>
        </p>
      </div>
    </article>

    {% include post-pager.html %}
    {% include comments.html %}

  </div>

  {% include latex.html %}

</div>

