---
layout: default
---

<div class="page-collection">
  <div class="jumbotron container text-center"{%if page.background%} style="background:{{page.background}}"{%endif%}>
    <h1 class="title">{{site.tags[page.tag][1].title}}</h1>
    <p>{{page.excerpt}}</p>
  </div>
  <section class="article-list container">
    {%for post in site.tags[page.tag] -%}
    <article>
      <h2>
        <a class="title" href="{{ post.url }}">{{ post.title }}</a>
      </h2>
      <p class="tag-list">
        {% for tag in post.tags %}{%include tag.html%}{% endfor %}
      </p>
      <div class="md excerpt">
        <p>{{ post.excerpt | strip_html }}</p>
        <div class="more"><a class="btn-hover" href="{{ post.url}}">继续阅读 ➤</a></div>
      </div>
    </article>
    {%- endfor %}
  </section>
</div>
