---
layout: default
---

<!-- style -->
<style>
/* Sidenav for Docs
-------------------------------------------------- */

  /* By default it's not affixed in mobile views, so undo that */
  .sidebar.affix {
    position: static;
  }
  
  .sidenav {
    margin: 20px 0 20px;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
       -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
            box-shadow: 0 1px 4px rgba(0,0,0,.065);
  }
  .sidenav > li > a {
    display: block;
    width: 190px \9;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
  }
  .sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
       -moz-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
  }
  .sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
  }
  .sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
      background: #428bca!important;
      color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
       -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
            box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
  }
  .sidenav .glyphicon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
  }
  .sidenav > li > a:hover {
    background-color: #f5f5f5;
  }
  .sidenav a:hover .glyphicon-chevron-right {
    opacity: .5;
  }
  .sidenav .active .glyphicon-chevron-right,
  .sidenav .active a:hover .glyphicon-chevron-right {
    opacity: 1;
  }

  /* Show and affix the side nav when space allows it */
  @media (min-width: 992px) {
    /* Widen the fixed sidebar */
    .sidebar.affix,
    .sidebar.affix-top,
    .sidebar.affix-bottom {
      width: 213px;
    }
    .sidebar.affix {
      position: fixed; /* Undo the static from mobile first approach */
      top: 90px;
    }
    .sidebar.affix-bottom {
      position: absolute; /* Undo the static from mobile first approach */
      top:auto;
      bottom: 90px;
    }
    .sidebar.affix-bottom .sidenav,
    .sidebar.affix .sidenav {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  @media (min-width: 1200px) {
    /* Widen the fixed sidebar again */
    .sidebar.affix-bottom,
    .sidebar.affix-top,
    .sidebar.affix {
      width: 263px;
    }
  } 
</style>


{% assign block = content | split: '<!-- style -->' %}
{{ block[1] }}
<!-- style -->

<!-- content -->
<div class="page-header hl-header">
    <div class="container">
        <h1>{{ page.title }}</h1>
        <p class="lead">{{ page.content }}</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3" >
            <div class="sidebar">
                <ul class="nav sidenav">
                    {% for category_name in site[page.categories] %}
                        <li>
                            <a class="animate" href="#cate_{{ forloop.index }}">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                {{ category_name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            {% for category_name in site[page.categories] %}
                <div id="cate_{{ forloop.index }}" class="page-header">
                  <h2>{{ category_name }}</h2>
                </div>    
                
                <div class="row">
                    {% for post in site.categories[category_name] %}
                        <div class="col-sm-12">
                            <div class="panel panel-primary panel-toolbar">                                              
                                <div class="panel-heading">                                                              
                                    <h3 class="panel-title"  data-toggle="tooltip" data-placement="top" title=""
                                        data-original-title="{{post.subtitle}}">
                                        <span class="glyphicon glyphicon-{{ page.post-icon }}"></span> 
                                        {{ post.title }}
                                        <p class="muted time pull-right">{{ post.date | date: "%Y-%m-%d"  }}</p>         
                                    </h3>                                                                                
                                </div>                                                                                   
                                <div class="panel-body">                                                                     
                                    
                                    {% case page.nav %}
                                      {% when 'blog' %}
                                        {% include excerpt/blog.html  %}
                                      {% when 'album' %}
                                        {% include excerpt/album.html  %}         
                                      {% when 'resource' %}
                                        {% include excerpt/resource.html  %}         
                                      {% else %}
                                        载入摘要错误
                                    {% endcase %}
                                                                                               
                                    <div class="clearfix"></div>                                                         
                                    <hr/>                                                                                
                                    {% for tag in post.tags %}                                                           
                                      <span style="margin-right: 10px;" class="label label-success pull-left hidden-xs">           
                                          <span class="glyphicon glyphicon-tag"></span> {{ tag }}                                                                                                                                           
                                      </span>
                                    {% endfor %}
                                    <a class="label label-primary pull-right" href="{{post.url}}" >
                                      进入              
                                      <span class="glyphicon glyphicon-hand-right"></span>
                                    </a>
                                </div>
                            </div>
                          
                        </div>
                        
                        {% assign i2 = forloop.index | modulo: 2 %}
                        {% if i2 == 0 %}
                        <div class="clearfix visible-lg"></div>
                        {% endif %}
                        
                    {% endfor %}
                </div>
              
                <div class="clearfix"></div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- content -->

<!-- script -->

{% assign block = content | split: '<!-- script -->' %}
{{ block[1] }}
<script>
    $(function(){
        //enable scroll spy, this offset is only for spying
        $('body').scrollspy({
          target: '.sidebar',
          offset: navHeight + 10  //make sure to spy the element when scrolled to
        }); 
        
        
        //enable sidebar affix, this offset is for sidebar position recognition
        setTimeout(function () {
            var $sideBar = $('.sidebar')
            $sideBar.affix({
                offset: {
                    top: function () {                    
                        var offsetTop      = $sideBar.offset().top;
                        var sideBarMargin  = parseInt($sideBar.children(0).css('margin-top'), 10);
                        sideBarMargin     += parseInt($('.hl-header').css('margin-bottom'), 10);                        
                        return (this.top = offsetTop - navHeight - sideBarMargin);
                    },                    
                    bottom: function(){
                        var sideBarMargin  = parseInt($sideBar.children(0).css('margin-bottom'), 10);
                        return (this.bottom = footHeight + sideBarMargin);
                    }
                }
            });
        },100);
    });
</script>
<!-- script -->