---
layout: default
nav: blog
---

<style>
.jiathis_style *, .jiathis_style, #uyan_frame, #uyan_frame *, #uyan_box, #uyan_box *{
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important;
}
.icon-button{
  color: black!important;
  text-decoration: none!important;
}
#post-toc{
  background:#f5f5f5;
  padding:15px;
}
#post-toc .header{
  margin:0;
}
#post-toc .content>ol{
  margin: 10px 0 0 0;
}
#post-toc ul{
  margin-top:5px;
}
#post-toc ul, #post-toc li{
  margin-top:5px;
}
</style>

<div class="page-header">
  <h1>{{ page.title }}</h1>
  <div>
    {% for cat in page.categories %}
    <span class="label label-success">{{ cat }}</span>
    {% endfor %}
    {% for tag in page.tags %}
    <span class="label label-default">{{ tag }}</span>
    {% endfor %}
    <a class="pull-right label label-warning" href="/blog.html" style="margin-left: 10px;">
        返回
    </a>
    <span class="pull-right label label-info" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{ page.date | date: "%H:%M" }}">
        {{ page.date | date: "%Y年%m月%d日" }}
    </span>
  </div>
</div>

<div id="post-toc"></div>

<div id="post-content">
  {{ content }}
</div>

<!-- JiaThis Button BEGIN 
<div class="jiathis_style">
	<a class="jiathis_button_fb"></a>
	<a class="jiathis_button_msn"></a>
	<a class="jiathis_button_twitter"></a>
	<a class="jiathis_button_linkedin"></a>
	<a class="jiathis_button_ydnote"></a>
	<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">更多</a>
	<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=undefined" charset="utf-8"></script>
<!-- JiaThis Button END -->

<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1851884"></script>
<!-- UY END -->

<script>
  $(function(){
    $('#post-toc').html(genTOC($('#post-content')));
    
    $('#toc_icon').click(function(){
      $('#post-toc .content').toggle(400);
      $(this).toggleClass('glyphicon-chevron-up glyphicon-chevron-down');
    });
  })
  
  // add toc for html content
  function genTOC($content) {
    var toc = $('<ol/>');
    var ul = '';

    var fi = 1;
    while ($content.find('h' + fi).length < 1 && fi < 7) fi += 1;
    if (fi == 7) return "";
    
    var c = ['H' + fi,'H' + (fi+1),'H' + (fi+2)];
    $content.find('h' + fi + ',h' + (fi + 1) + ',h' + (fi + 2)).each(function (i) {
      var $this = $(this);
      $this.attr('id', i);
      if (this.nodeName == c[0]) {
      	var li = new $('<li/>')
          .append('<a href="#' + i + '" class="animate">' + $this.text() + '</a>')
          .append($('<ul/>'));
        toc.append(li);
      }
      else if(this.nodeName == c[1]){
      	var li = new $('<li/>')
          .append('<a href="#' + i + '" class="animate">' + $this.text() + '</a>')
          .append($('<ul/>'));
        toc.find('a[href="#'+$this.prevAll(c[0]).first().attr('id')+'"]')
                 .next('ul').append(li);
      }
      else{ 
      	var li = new $('<li/>')
          .append('<a href="#' + i + '" class="animate">' + $this.text() + '</a>')
          .append($('<ul/>'));
        toc.find('a[href="#'+$this.prevAll(c[1]).first().attr('id')+'"]')
                 .next('ul').append(li);
      }
    });
    return '<h4 class="header" style="display:inline;">目录</h4>'
      + '<span id="toc_icon" class="glyphicon glyphicon-chevron-up" style="margin-left:5px;cursor:pointer;"></span>'
      + '<div class="content">' + toc[0].outerHTML + '</div>';
  }
</script>
