---
layout: default
---

<style>
.headerbar{
  background: white;
  border-bottom: 2px solid #eaeaeb;
}
.headerbar .page-header{
  border-bottom: 0;
  margin-bottom: 0px;
  margin-top: 0px;
}
#page-content{
  margin-bottom: 15px;
}
</style>

<div class="headerbar">
  <div class="page-header container-fluid">
    <h3>
      {{ page.title }} <small>{{page.subtitle}}</small>
    </h3>
    <div>
        <div class="pull-left">
            {% include categories.html post=page %}
            {% include tags.html post=page %}
        </div>
        <div class="pull-right text-muted">
            {% include date.html post=page %}
        </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div id="page-content">
    {{ content }}
  </div>
</div>

